
.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    padding: 50px 0;
   }
   body {
    background-color: red; /* Reemplaza con el color que desees, puedes usar nombres de color o códigos hexadecimales */
    margin: 0; /* Para eliminar el margen predeterminado del cuerpo de la página */
    padding: 0; /* Para eliminar el relleno predeterminado del cuerpo de la página */
  }

    img {
    text-align: center;
    width: 50%;
    height: 50%;
    Border: 3px solid #101010;
    margin-bottom: 50px;
    }
    img {
    width: 50%;
    height: 50%;
    }
  
   .titulo {
    text-align: center;
    margin-bottom: 100px;
   }
   
   .contenido {
    display: inline-flex;
    justify-content: space-around;
    width: 80%;
   }
   
   .card {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 40%;
   }
   
   .card button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
   }
   .card2 button {
    margin-top: 0px;
    padding: 10px 20px;
    margin-bottom: 40px;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 10px;
   }
   .container {
    text-align: center;
  }
  
  .container img {
    display: inline-block;
  }
/*Responsive*/
  @media screen and (max-width: 768px) {
    .contenido {
      flex-direction: column;
      align-items: center;
    }
    .card {
      width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    .card {
      width: 80%;
    }
  }
  @media screen and (max-width: 768px) {
    .card2 {
      width: 80%;
    }
  }
